.container {
  width: 100vw;
  height: 100vh;
  display: flex;

 
  .content {
    background-color: rgb(5, 216, 5);
    width: 65vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:white;
    width: 35vw;
    height: 100vh;

    

    form {
      display: flex;
      flex-direction: column;
    }
  }
  app-input {
    margin-top: 2.25rem
  }

  
}

@media (max-width: 66.625rem) {
  .container {
    display: flex;
    flex-direction: column;

    .content {
      display: flex;

      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 10vh;
    }

    .login {
      width: 100vw;
      height: 100vh;
      margin-top: 60px 
    }
  }
}

@media (max-width: 280px) {
 

  app-button {
  
    width: 14rem !important;
    
  }


}
